@import './base/_fonts';
@import './partials/_colors';
@import './partials/_index';
@import './partials/_option';
@import './partials/_result';
@import './partials/_infopage';
@import './partials/_hdi';
@import './partials/_map';
@import './partials/_bare';
@import './partials/_components';
@import './partials/_extraOption';
@import './partials/_lastpage';

ul {
    text-align: left;
}

body {
  // font-family: $open-sans;
  // font-family: $lato;
  font-family: $roboto;
  font-weight: 300;
}

.h1-title {
  font-family: $lato;
  font-weight: 400;
}

.h2-title {
  font-family: $lato;
  font-weight: 300;
}

.h3-title {
  font-family: $lato;
  font-weight: 200;
  font-size: 32px;
  color: $headers;
  line-height: 44.8px;
}

.h4-title {
  font-family: $lato;
  font-weight: 200;
  color: $headers;
}

.hdi-number {
  color: $headers;
}

.userStory {
  font-size: 20px;
  font-weight: 400;
}

.captionBare {
  font-size: 20px;
}

.landing-arrow-style {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

// Helpers
.hidden {
  visibility: hidden;
  display: none;
}

.section {
  height: 100%;
}
