<section class="hdi-work section options cremation-direct" data-anchor="directcremation_moreinfo">
  <div class="hdi-wrapper">
  <h3 class="h3-title">DIRECT CREMATION</h3>
  <div class="row" data-equalizer="cremation" data-equalizer-mq="medium">
    <div class="hdi-card columns large-4" data-equalizer-watch="cremation">
      <div class="hdi-background">
        <span class="hdi-number">1.</span>
        <div class="hdi-text">
          <span class="bold">What's included?</span><p></p>
          <span class="bold">A direct cremation generally includes:</span>
          <ul>
            <li>Funeral director’s time and overheads - known as “professional fees”</li>
            <li>Storage of the body</li>
            <li>Simple coffin</li>
            <li>Transport of the body to the crematorium</li>
            <li>Crematorium fee</li>
            <li>Doctors fee</li>
            <li>Return of ashes (may be a small additional cost)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hdi-card columns large-4" data-equalizer-watch="cremation">
      <div class="hdi-background">
        <span class="hdi-number">2.</span>
        <div class="hdi-text">
          <span class="bold">What does it cost?</span><p></p>
          <span class="bold">£999 - £1600</span><br>
          Prices vary depending on the funeral director's professional fees and the costs of the relevant crematorium.
        </div>
      </div>
    </div>
    <div class="hdi-card columns large-4" data-equalizer-watch="cremation">
      <div class="hdi-background">
        <span class="hdi-number">3.</span>
        <div class="hdi-text">
          <span class="bold">What next?</span><p></p>
          <span>I like this option</span><p>
          </p>
          <ul>
            <li>See more details bout planning and discussing your wishes at <a href="http://www.quakersocialaction.org.uk/find-out-more-dte"><strong>Down to Earth</strong></a></li>
            <li>Search “direct cremation” to check out more details.</li>
            <li>Ask a few local funeral directors if they provide direct cremations and the cost. Check to see if you have a <a href="http://fairfuneralscampaign.org.uk/"><strong>Fair Funerals</strong></a> pledged service in your area.</li>
            <li>Make this choice clear by writing out  your funeral wishes, and let your family and friends know.</li>
          </ul>
          <span>I want more <a href="index.html#options_page">options</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
