<section class="bare section options cremation-direct" data-anchor="whatisdirect">
  <a name="direct-cremation"></a>
  <header class="row bare__header">
    <h1 class="bare__title h1-title">What’s a direct cremation</h1>
    <h2 class="bare__subtitle h2-title">Funeral costs are rising much faster than the cost of living. <br>
      In response direct cremation offers a simple, flexible and more affordable funeral option.</h2>
  </header>
  <div class="bare__descriptions">
    <div class="row" data-equalizer="bare" data-equalizer-mq="medium">
      <div class="captionBare large-4 columns" data-equalizer-watch="bare">
        <div class="bare__description">Unlike traditional funerals, a direct cremation does not include a service on the day. It is an increasingly popular choice for people who want a very simple option, either due to preference or cost.</div>
      </div>
      <div class="userStory large-4 columns" data-equalizer-watch="bare">
        <div class="bare__description"><span class="bold">Mark's Story</span><br>"Mark’s partner Sally died in the hospice. She had been cared for there for some time. They had discussed her funeral arrangements and were keen to have an event which was a celebration of her life, not mourning her death. They didn’t want a funeral service, and so opted for a direct cremation.</div>
      </div>
      <div class="userStory large-4 columns" data-equalizer-watch="bare">
        <div class="bare__description">A funeral director collected Sally’s body from the hospice and took her to their premises until the day of the cremation. She was taken to the crematorium by the funeral director and the cremation took place without a service. Mark collected her ashes and these were central at a gathering of family and friends held in the couple’s garden in remembrance of Sally."</div>
      </div>
    </div>
    <div class="arrow"></div>
    </div>
</section>
