<section class="bare section options cremation-direct" data-anchor="direct">
  <a name="direct-cremation"></a>
  <header class="row bare__header">
    <h1 class="bare__title h1-title">What is a 'direct cremation'?</h1>
    <h2 class="bare__subtitle h2-title">Funeral costs are rising much faster than the cost of living.
      <p></p>In response, direct cremation offers a simple, flexible and more affordable funeral option.</h2>
  </header>
  <div class="bare__descriptions">
    <div class="row" data-equalizer="bare" data-equalizer-mq="medium">
      <div class="captionBare large-4 columns" data-equalizer-watch="bare">
        <div class="bare__description">Unlike traditional funerals a direct cremation does not include a service on the day. It is an increasingly popular choice for people who want a very simple option, either due to preference or cost.</div>
      </div>
      <div class="userStory large-4 columns" data-equalizer-watch="bare">
        <div class="bare__description"><span class="bold">Mark's Story</span><br>"Mark’s partner Sally died in St Joseph’s hospice. She had been cared for there for some time. They had discussed her funeral arrangements and were keen to have an event which was a celebration of her life, not mourning her death. They didn’t want a funeral service as such so opted for a direct cremation. A funeral director collected Sally’s body from the hospice and took her</div>
      </div>
      <div class="userStory large-4 columns" data-equalizer-watch="bare">
        <div class="bare__description">to their premises until the day of the cremation. She was taken to the crematorium by the funeral director and the cremation was carried out with no- one present. Mark collected her ashes and these were central at a gathering of family and friends who attended an event held in the couple’s garden to remember Sally."</div>
      </div>
    </div>
    <a class="arrow-style bounce arrow" href="#options_page">
      <svg class="landing-arrow-style arrow-what" fill="#8D4B64" height="36" viewBox="4 4 18 18" width="36" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
        <path d="M0-.75h24v24H0z" fill="none"/>
      </svg>
    </a>
    </div>
</section>
