@import './base/_fonts';
@import './partials/_colors';
@import './partials/_index';
@import './partials/_infopage';
@import './partials/_hdi';
@import './partials/_map';
@import './partials/_bare';
@import './partials/_components';
@import './partials/_extraOption';
@import './partials/_lastpage';

ul {
    text-align: left;
}

body {
  // font-family: $open-sans;
  // font-family: $lato;
  font-family: $roboto;
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

.bold {
color: #666;
font-weight: bold;
}

.h1-title {
  font-family: $lato;
  font-weight: 400;
  p:nth-child(2){
    font-weight: bold;
  }

}

.h2-title {
  font-family: $lato;
  font-weight: 300;
}

.h3-title {
  font-family: $lato;
  font-weight: 200;
  font-size: 32px;
  color: $headers;
  line-height: 44.8px;
}

.h4-title {
  font-family: $lato;
  font-weight: 200;
  color: $headers;
}

.hdi-number {
  color: $headers;
}

.userStory {
  font-size: 20px;
  font-weight: 400;
}

.captionBare {
  font-size: 20px;
}

// arrow
.arrow-style {
  width: 100%;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 999;

  @media (max-height: 770px) {
    margin-top: -9px;
    margin-bottom: -9px;
  }
}

.bounce {
  animation: bounce 2s;
  animation-delay: 2s;
  animation-iteration-count: 5;
}

.bounce:hover {
}

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}


.gradient {

  background: linear-gradient(-20deg, #8D69A7 40%, #662f8c);
  background-size: 400% 400%;

  -webkit-animation: landingBackground 30s ease infinite;
  -moz-animation: landingBackground 30s ease infinite;
  animation: landingBackground 30s ease infinite;
}

@-webkit-keyframes landingBackground {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-moz-keyframes landingBackground {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@keyframes landingBackground {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}

// Helpers
.hidden {
  background-color: transparent;
  // display: none;
}
.hide {
  visibility: hidden;
}

.fp-tableCell {
  display: block;
}
