// base
$headers: #4D4D4D;
$main-text: #777777;
$general-white: #FAFAFA;

// landing
$background1: #BF93CC;
$arrow1: #8E4A64;

// options-page
$background2: #F5EAF5;
$circles: #A44562;

// what is direct cremation page?
$background-light-pink: #FCF8FC;
$orange-underline: #E27935;
$separation-line: #A44562;

// what's included page?
$background2: #F5EAF5;
$orange-underline: #E27935;
$purple-line: #7C2EA4;
$arrow: #A44562;

// map-page
$purple-header: #674A7F;
$map-unclicked: #9C6FC7;
$map-clicked: #FFB88B;
$bg-map: #D9BCE0;
$orange-underline: #E27935;

// more things you could do page
$light-pink-bg: #FCF8FC;
$arrow-dark: #4D215D;
$illustrations-bg: #6B29A8;


//footer and contact page
$first-footer: #BF93CC;
$footer: #4D215D;
