.map-options {
  margin-top: 4em;
}

.map-reader {
  width: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #9c27b0;
  color: white;
}
.map-title {
  text-align: center;
}
.map-title-text {
  padding-top: 5%;
  margin: 0;
}
.map-card {
  background-color: blue;
}
.card {
  font-size: .8em;
  padding: 1em;
  border-bottom: 4px solid rgb(228, 96, 0);
  background-color: white;
}
.map-wrapper {
  height: 80%;
}
.map-description {
  padding: 2em;
  background-color: #e1bee7;
  height: 100%;
}

@media (min-width: 768px) {
  .map-reader {
    padding-left: 30%;
    padding-right: 30%;
  }
}
