<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/jqueryfullPage.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/stylesheet.css" media="screen" title="no title">
    <title>Qsa</title>
  </head>
  <body>
    <div id="fullpage">
      <!-- Nav -->
      <%- partial("partials/sections/_header") %>
      <!-- what is direct-cremation -->
      <%- partial("partials/sections/direct/_whatisdirect") %>
      <!-- direct-cremation more info  -->
      <%- partial("partials/sections/direct/_dirmoreinfo") %>
      <!-- contact footer -->
      <%- partial("partials/sections/_footer") %>
  </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/jquery.fullPage.min.js" charset="utf-8"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
