<div class="section row" data-anchor="home">
  <div class="gradient">
    <section id="landingpage-first-half">
      <div class="landing-info">
        <span class="landing-text">Welcome to Down to Earth <br> A project of Quaker Social Action</span><p>

        </p>
        <span class="landing-paragraph">
          Plan the right send off without the big spend off
        </span>
      </div>
    </div>
    <img class="header-img" src="assets/qsa.jpeg" alt="quaker social action logo" />
  </section>
  <section class="row" id="landingpage-second-half">
    <div class="text-half">
      <h1 class="h1-title">SIMPLE FUNERAL PLANNER</h1>
      <p>
        Funeral costs have doubled over the last 12 years. But there are simple options to help plan a
        meaningful and affordable send off for you or a loved one.
        This easy planning tool shows some of the simple options available, gives average costs in your area,
        and helps you prepare to discuss your needs with family, friends or a funeral director.
      </p>
      <p>
        Facing an immediate funeral and struggling to pay? <a href="http://www.quakersocialaction.org.uk/Pages/Category/down-to-earth">Contact</a> Down to Earth to see how we can help.
      </p>
      <a class="landing-arrow-style" href="#info">
        <svg id="landing-arrow" fill="#8D4B64" height="60" viewBox="0 0 24 24" width="60" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
          <path d="M0-.75h24v24H0z" fill="none"/>
        </svg>
      </a>
    </div>
  </section>
</div>


