<div class="section" data-anchor="home">
  <div class="gradient">
    <section id="landingpage-first-half">
      <div class="landing-info">
        <img src="assets/qsa.jpeg" class="landing-text"><p>
        </p>
        <span class="landing-paragraph">
          Plan the right send off without the big spend off
        </span>
      </div>
    </div>
  </section>
  <section class="row" id="landingpage-second-half">
    <div class="text-half column large-12 separator">
      <h1 class="h1-title">SIMPLE FUNERAL PLANNER</h1>
      <p>
        How much is a basic funeral in your area? It might be more than you expect.
        Check out basic options and average costs in your region, and get more information on planning an affordable and meaningful send off. 
      </p>
      <span class="bold">
        Facing an immediate funeral and struggling to pay? <a href="http://www.quakersocialaction.org.uk/Pages/Category/down-to-earth">Contact</a> Down to Earth to see how we can help.
      </span>
    </div>
  </section>
</div>
