<section class="info-page section">
  <div class="row">
    <!-- direct cremation option btn -->
    <div class="columns large-4">
      <a href="directcremation.html" class="text-center">
        <div class="option-round">
          <img class="round-image" src="./assets/round-illustration1.png" alt="round1">
        </div>
      </a>
      <h4 class="h4-title">Direct cremation</h4>
      <div class="option-text">The simplest and most affordable option, and growing in popularity. With no funeral service,
        there is choice and flexibility about how you say farewell. </div>
      </div>
      <!-- simple funeral option btn -->
      <div class="columns large-4">
        <a href="option.html" class="text-center">
          <div class="option-round">
            <img class="round-image" src="./assets/round-illustration2.png" alt="round2">
          </div>
        </a>
        <h4 class="h4-title">Simple funeral Service</h4>
        <div class="option-text">A more traditional funeral service, but without the added extras. This is a good option
          when you want a full funeral service at a more modest cost. </div>
        </div>
        <!-- bespoke funeral option btn -->
        <div class="columns large-4">
          <a href="bespoke.html" class="text-center">
            <div class="option-round">
              <img class="round-image" src="./assets/round-illustration3.png" alt="round3">
            </div>
          </a>
          <h4 class="h4-title">Simple bespoke Service</h4>
          <div class="option-text">Want something more than a simple funeral? There are several options to make a simple
            plan tailored to your needs.</div>
          </div>
        </div>
      </section>
