<section class="hdi-work section" data-anchor="simple-moreinfo">
  <div class="hdi-wrapper">
      <h3 class="h3-title">SIMPLE FUNERAL</h3>
  <div class="row" data-equalizer="cremation" data-equalizer-mq="medium">
    <div class="hdi-card columns large-4" data-equalizer-watch="cremation">
      <div class="hdi-background">
        <span class="hdi-number">1.</span>
        <div class="hdi-text">
          <span class="bold">What's included?</span><p></p>
          <ul>
            <li>Funeral director’s time and overheads - professional fees</li>
            <li>Collection/transport of body</li>
            <li>Doctors’ fees</li>
            <li>Simple coffin</li>
            <li>Hearse</li>
            <li>Celebrant/officiant fee</li>
            <li>Crematorium fee or burial fee</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hdi-card columns large-4" data-equalizer-watch="cremation">
      <div class="hdi-background">
        <span class="hdi-number">2.</span>
        <div class="hdi-text">
          <span class="bold">What does it cost?</span><p></p>
          According to the region of your choice, our estimated price is:
          <h6 class="cost-breakdown bold"></h6><br>
          <span class="bold">About our pricing:</span><br>
          These are average costs in your chosen region. Prices from SunLife’s ‘Cost of Dying’ 2016 report. <br><br>
          <span class="bold">What if I can’t afford this?</span><br>
          <span>Check out other <a href="index.html#options">options</a> or see “What next” for more details on planning an affordable funeral.</span>
        </div>
      </div>
    </div>
    <div class="hdi-card columns large-4" data-equalizer-watch="cremation">
      <div class="hdi-background">
        <span class="hdi-number">3.</span>
        <div class="hdi-text">
          <span class="bold">What next?</span><p></p>
          <span>I like this option</span><br><br>
          <ul>
            <li>This is an average price in your region - ask a few local funeral directors if they offer a simple funeral package, the inclusions, and the cost;</li>
            <li>Check to see if you have a funeral director signed to the <a href="http://fairfuneralscampaign.org.uk/"><strong>Fair Funerals</strong></a> pledge service in your area;</li>
            <li>See more details about planning and discussing your wishes at <a href="https://www.quakersocialaction.org.uk/we-can-help/helping-bereavement/down-earth">Down to Earth</a>;</li>
            <li>Make this choice clear by writing out your funeral wishes - let your family and friends know.</li>
          </ul>
          <span>I want more <a href="index.html#first">options</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
