<section class="hdi-work section">
  <div class="hdi-wrapper">
      <h3 class="h3-title">SIMPLE FUNERAL</h3>
  <div class="row" data-equalizer="cremation" data-equalizer-mq="medium">
    <div class="hdi-card columns medium-4" data-equalizer-watch="cremation">
      <div class="hdi-background">
        <span class="hdi-number">1.</span>
        <div class="hdi-text">
          <strong>What's included?</strong><p></p>
          <ul>
            <li>Funeral director’s time and overheads - professional fees</li>
            <li>Collection / transport of body</li>
            <li>Doctors fee</li>
            <li>Simple coffin</li>
            <li>Hearse</li>
            <li>Celebrant/officiate fee</li>
            <li>Crematorium fee or burial fee</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hdi-card columns medium-4" data-equalizer-watch="cremation">
      <div class="hdi-background">
        <span class="hdi-number">2.</span>
        <div class="hdi-text">
          <strong>What does it cost?</strong><p></p>
          <!-- HERE GOES THE VARIABLE FROM CHOOSE YOUR REGION ACCORDING TO CHOICE -->
          According to the region of your choice, our estimate price is:
        </div>
      </div>
    </div>
    <div class="hdi-card columns medium-4" data-equalizer-watch="cremation">
      <div class="hdi-background">
        <span class="hdi-number">3.</span>
        <div class="hdi-text">
          <strong>What next?</strong><p></p>
          <ul>
            <li>See more details bout planning and discussing your wishes at <a href="http://www.quakersocialaction.org.uk/find-out-more-dte"><strong>Down to Earth</strong></a></li>
            <li>Remember this is an average price in your region so ask a few local funeral directors if they offer a simple funeral package, what it includes and the cost. Check to see if you have a <a href="http://fairfuneralscampaign.org.uk/"><strong>Fair Funerals</strong></a> pledged service in your area.</li>
            <li>Make this choice clear by writing out your funeral wishes, and let your family and friends know.</li>
          </ul>
          <p>If this is not for you and you want more options, choose another plan from the options page by clicking <a href="index.html"><strong>here</strong></a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
