<section class="section options simple" data-anchor="simple_funeral">
  <a name="simple"></a>
  <header class="row bare__header">
    <h1 class="bare__title h1-title">What’s a simple funeral?</h1>
    <h2 class="bare__subtitle h2-title">Like many people you may want to use the services of a funeral director.
      <p></p>However it is not always clear what the simplest and most affordable service is.</h2>
  </header>
  <div class="bare__descriptions">
    <div class="row" data-equalizer="bare" data-equalizer-mq="medium">
      <div class="captionBare large-4 columns" data-equalizer-watch="bare">
        <div class="bare__description">Many parts of a traditional service are optional and often cost more money than doing it yourself. A simple funeral provides the services of a funeral director, but without the extras and additional costs. There is no one definition of a simple service, so talk to several funeral directors about their costs and inclusions. </div>
      </div>
      <div class="userStory large-4 columns" data-equalizer-watch="bare">
        <div class="bare__description"><span class="bold">Mary's Story</span><br>Mary took responsibility for arranging her mum’s funeral and chose a cremation at her local cemetery. Although she used a funeral director for basic arrangements, Mary looked for ways to keep costs manageable. People were coming from many different places to attend the funeral. They were all driving, so Mary decided that rather than people travelling from her home in convoy, they would meet together at the crematorium. Instead of paying for the optional limousines, Mary’s next-door neighbour offered to drive her to the service. </div>
      </div>
      <div class="userStory large-4 columns" data-equalizer-watch="bare">
        <div class="bare__description">
          <span class="bold">A simple funeral package generally includes:</span>
          <ul>
            <li>Funeral director’s time and overheads - professional fees</li>
            <li>Collection / transport of body </li>
            <li>Doctors fee </li>
            <li>Simple coffin</li>
            <li>Hearse </li>
            <li>Celebrant/officiate fee </li>
            <li>Crematorium fee or burial fee</li>
          </ul>
          </div>
      </div>
    </div>
    <a class="arrow-style arrow" href="#options_page">
      <svg class="landing-arrow-style arrow-what" fill="#8D4B64" height="36" viewBox="4 4 18 18" width="36" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
        <path d="M0-.75h24v24H0z" fill="none"/>
      </svg>
    </a>
    </div>
</section>
