.hdi-work {
  height: 100vh;
  width: 100vw;
  background-color: #F5EAF5;
  text-align: center;

  h1 {
    margin-bottom: 0.5em;
  }
}

.hdi-card-wrapper {
  margin-bottom: 2em;
  text-align: left;
}

.hdi-background {
  padding: 2em 2em 4em;
  background-color: white;
  border-bottom: 3px solid #7B34A2;
  height: 100%;
}

.hdi-number {
  width: 2em;
  font-size: 2em;
  font-weight: bolder;
  float: left;
  border-bottom: 4px solid #E0793E;
  margin-bottom: 0.5em;
}

.hdi-text {
  clear: left;
}

.hdi-card {
  margin-bottom: 1em;
  padding: 20px;
}
