.info-page {
  text-align: center;
}

.info-page-wrapper {
position: relative;
}

.option-wrapper {
  height: 600px;
  position: absolute;
  padding-top: 15%;
  left: 0;
  right: 0;
}

.round-image {
  margin-top: 20px;
}

.option-round {
  background-color: #A44562;
  height: 222px;
  width: 222px;
  margin: 0 auto 2em;
  border-radius: 50%;

  -webkit-box-shadow: 7px 9px 16px -5px #a2a2a2;
  -moz-box-shadow: 7px 9px 16px -5px #a2a2a2;
  box-shadow: 7px 9px 16px -5px #a2a2a2;
  &:hover{
    animation: scaling 1s ease-in;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
}

@keyframes scaling {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(1.1);
  }
}
.option-text {
  margin: 1em auto 1.5em;
  font-weight: 300;
}
