.last-page {
  background-color: #BF93CC;
}

.contact-us {
  background-color: #BF93CC;
  text-align: center;
  height: 50%;
  color: white;
  padding-top: 13%;
  a {
    color: white;
  }
}

.social-media {
  background-color: #4C235C;
  height: 50%;
  padding-top: 12%;
  display: block;
}

.widgets {
  text-align: center;
}
.widget {
 margin: 20px;
}
