<section class="section last-page options">
  <div class="contact-us">
    <a href="#"><h3 class="h3-title">Contact us</h3></a>
  </div>
  <div class="social-media">
    <div class="widgets">
      <img class="widget" src="./assets/facebook_widget.png" alt="fb" />
      <img class="widget" src="./assets/twitter_widget.png" alt="twitter" />
      <img class="widget" src="./assets/email_widget.png" alt="email" />
    </div>
  </div>
</section>
