<section class="section last-page options" data-anchor="footer">
  <div class="contact-us">
    <p>Faced with paying for a funeral and need help now? Call us on <span class="bold">0208 983 5055</span></p>
    <p>For general information about planning for a funeral and our Down to Earth project visit our <a href="http://www.quakersocialaction.org.uk/Pages/Category/down-to-earth"><span class="bold">website</span></a></p>
    <p>Want to know more about how we are campaigning for fair funerals? Check out the <a href="http://fairfuneralscampaign.org.uk/"><span class="bold">Fair Funerals campaign</span></a></p>
  </div>
  <div class="social-media">
    <div class="widgets">
      <img class="widget" src="./assets/facebook_widget.png" alt="fb" />
      <img class="widget" src="./assets/twitter_widget.png" alt="twitter" />
      <img class="widget" src="./assets/email_widget.png" alt="email" />
    </div>
  </div>
</section>
