<header class="fixed-header">
  <nav class="navbar">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a class="fixed-header-links" href="index.html#options_page">OPTIONS</a>
        <ul class="menu">
          <li><a href="directcremation.html">Direct cremation</a></li>
          <li><a href="option.html">Simple funeral</a></li>
          <li><a href="bespoke.html">Bespoke funeral</a></li>
        </ul>
      </li>
      <li><a class="fixed-header-links" href="#home">HOME</a></li>
      <li><a class="fixed-header-links" href="#contact">CONTACT</a></li>
    </ul>
  </nav>
</header>
