
<div class="title-bar" data-responsive-toggle="navbar" data-hide-for="medium">
<button class="menu-icon" type="button" data-toggle></button>
<div class="title-bar-title"></div>
</div>

<header class="fixed-header" id="navbar">
  <nav class="navbar">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a class="fixed-header-links" href="index.html#options_page">OPTIONS</a>
        <ul class="menu">
          <li><a href="directcremation.html">Direct cremation</a></li>
          <li><a href="option.html">Simple funeral</a></li>
          <li><a href="bespoke.html">Bespoke funeral</a></li>
        </ul>
      </li>
      <li><a class="fixed-header-links" href="index.html">HOME</a></li>
      <li><a class="fixed-header-links" href="#footer">CONTACT</a></li>
    </ul>
  </nav>
</header>
