<section id="extraOptionPage" class="section options bespoke" data-anchor="extra-option-item" >
  <div id="extra-options-header-bg">
    <div class="row extraOptions__header">
      <h3 class="extraOptions__title h3-title">OPTIONAL EXRTAS TO TAILOR YOUR FUNERAL SERVICE</h3>
      <h2 class="extraOptions__subtitle">You can add optional items to tailor your funeral plan. These are available from a funeral director at additional cost, so make sure these are itemised in your quotes. <p></p>Click items below to add these to your simple bespoke plan.</h2>
    </div>
  </div>
  <div class="extra-container">
  <div class="row">
    <div class="extraOption__descriptions">
      <div id="purple0" data-item-name="ordersheet" class="columns large-4 extra-option-item">
        <div class="list-item-active overlay-item hidden">
          <div class="overlay-item price hide"></div>
          <div class="purpleBox">
            <div class="imageIcon"><img src="assets/orders.svg" alt="image of limousine" /></div>
            <span class="purple-header">Order Sheets</span>
            <span class="caption">These can make the funeral service very meaningful. Rather than paying the funeral director to produce them, you could ask family or friends to design and print them.</span>
          </div>
        </div>
      </div>
      <div id="purple1" data-item-name="notice" class="columns large-4 extra-option-item">
        <div class="list-item-active overlay-item hidden">
          <span class="overlay-item price hide"></span>
          <div class="purpleBox">
            <div class="imageIcon"><img src="assets/notices.svg" alt="" /></div>
            <span class="purple-header">Funeral Notice</span>
            <span class="caption">Rather than paying for a notice in the local paper, you could post the details on social media.
            </span>
          </div>
        </div>
      </div>
      <div id="purple2" data-item-name="flowers" class="columns large-4 extra-option-item">
        <div class="list-item-active overlay-item hidden">
          <span class="overlay-item price hide"></span>
          <div class="purpleBox">
            <div class="imageIcon"><img src="assets/flowers.svg" alt="flowers" /></div>
            <span class="purple-header">Flowers</span>
            <span class="caption">You can reduce costs by providing your own flowers. You could also ask those attendees to donate to charity rather than buying flowers.</span>
          </div>
        </div>
      </div>
      <div id="purple3" data-item-name="venue" class="columns large-4 extra-option-item">
        <div class="list-item-active overlay-item hidden">
          <span class="overlay-item price hide"></span>
          <div class="purpleBox">
            <div class="imageIcon"><img src="assets/venue.svg" alt="venue" /></div>
            <span class="purple-header">Venue Hire</span>
            <span class="caption">This can be expensive and difficult to find at short notice. Could you have a gathering at your home?
            </span>
          </div>
        </div>
      </div>
      <div id="purple4" data-item-name="catering" class="columns large-4 extra-option-item">
        <div class="list-item-active overlay-item hidden">
          <span class="overlay-item price hide"></span>
          <div class="purpleBox">
            <div class="imageIcon"><img src="assets/catering.svg" alt="catering" /></div>
            <span class="purple-header">Catering</span>
            <span class="caption">This can be expensive and difficult to book at short notice. Could family and friends make contributions of food and drink?
            </span>
          </div>
        </div>
      </div>
      <div id="purple5" data-item-name="limousine" class="columns large-4 extra-option-item">
        <div class="list-item-active overlay-item hidden">
          <span class="overlay-item price hide"></span>
          <div class="purpleBox">
            <div class="imageIcon"><img src="assets/Limousine.svg" alt="image of limousine" /></div>
            <span class="purple-header limousine">Limousine</span>
            <span class="caption"> Rather than paying for a limousine, you could  use personal cars or taxis, meeting the hearse at the crematorium or cemetery.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
<div class="row">
  <div class="columns large-4">
    <a class="arrow-style bounce" href="#bespoke_summery">
      <svg class="landing-arrow-style" fill="#8D4B64" height="36" viewBox="4 4 18 18" width="36" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
        <path d="M0-.75h24v24H0z" fill="none"/>
      </svg>
    </a>
  </div>
</div>
</section>
