<section id="extraOptionPage" class="section options bespoke" data-anchor="extra-option" >
  <div class="row extraOptions__header">
    <h1 class="extraOptions__title h1-title">OPTIONAL EXRTAS TO TAILOR YOUR FUNERAL SERVICE</h1>
    <h2 class="extraOptions__subtitle h2-title">You can add optional items to tailor your funeral plan. These are available from a funeral director at additional cost, so make sure these are itemised in your quotes. <p></p>Click items below to add these to your simple bespoke plan.</h2>
  </div>
  <div class="row">
    <div class="columns medium-8 extraOption__descriptions">
      <div class="columns medium-4">
        <div id="purple0" class="purpleBox">
          <div id="orderSheet" class="imageIcon"></div>
        </div>
        <div class="caption">Order Sheets</div>
      </div>
      <div class="columns medium-4">
        <div id="purple1" class="purpleBox">
          <div id="funeralIcon" class="imageIcon"></div>
        </div>
        <div class="caption">Funeral Notice</div>
      </div>
      <div class="columns medium-4">
        <div id="purple2" class="purpleBox">
          <div id="flowersIcon" class="imageIcon"></div>
        </div>
        <div class="caption">Flowers</div>
      </div>
      <div class="columns medium-4">
        <div id="purple3" class="purpleBox">
          <div id="venueIcon" class="imageIcon"></div>
        </div>
        <div class="caption">Venue Hire</div>
      </div>
      <div class="columns medium-4">
        <div id="purple4" class="purpleBox">
          <div id="cateringIcon" class="imageIcon"></div>
        </div>
        <div class="caption">Catering</div>
      </div>
      <div class="columns medium-4">
        <div id="purple5" class="purpleBox">
          <div id="limoIcon" class="imageIcon"></div>
        </div>
        <div class="caption">Limousine</div>
      </div>
    </div>
  </div>
    <div class="breakdown-info-wrapper">
      <div class="cost-list">
        <div class="list-item-wrapper"><span class="cost-list-item" id="list0"><i class="material-icons">done</i>Order sheets</span></div>
        <div class="list-item-wrapper"><span class="cost-list-item" id="list1"><i class="material-icons">done</i>Funeral notice</span></span></div>
        <div class="list-item-wrapper"><span class="cost-list-item" id="list2"><i class="material-icons">done</i>Flowers</span></span></div>
        <div class="list-item-wrapper"><span class="cost-list-item" id="list3"><i class="material-icons">done</i>Venue hire</span></span></div>
        <div class="list-item-wrapper"><span class="cost-list-item" id="list4"><i class="material-icons">done</i>Catering</span></span></div>
        <div class="list-item-wrapper"><span class="cost-list-item" id="list5"><i class="material-icons">done</i>Limousine</span></span></div>
      </div>
      <h3 class="h3-title">Total cost: <span id="cost-breakdown">£4263</span></h3>
    </section>
